@import '../style/breakpoints.scss';

.TaggingImagePreview {
  overflow: hidden;

  &__image {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }

  @media (min-width: $xs-to-sm) {
    max-height: 500px;
    max-width: 800px;
  }
}
