@import '../style/breakpoints.scss';

.Tagging {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, .02);
  //box-shadow: inset -15px 0 20px -10px rgba(0, 0, 0, .2);

  @media (min-width: $xs-to-sm) {
    flex-direction: row;
  }
}
