@import '../../style/breakpoints.scss';

.TeamSidebar {
  --item-padding: 12px;

  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: var(--team-sidebar-width);
  height: 100%;
  background-color: var(--sidebar-bg-color);
  transition: width var(--sidebar-animation-duration);

  &--collapsed {
    width: 0;
    overflow: hidden;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    transition: color .2s, background-color .2s;
    border-radius: 2px;

    &:hover {
      color: var(--white);
    }

    &:active, &:focus {
      outline: 0;
      color: white;
      background-color: #222;
    }
  }

  &__title {
    width: var(--team-sidebar-width);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 calc(var(--item-padding) + 3px);
    height: var(--navbar-height);

    &__icon {
      margin-right: .5em;
    }
  }

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    @keyframes item-fade-in {
      0% { opacity: 0; }
      100% { opacity: .5; }
    }

    animation: item-fade-in .5s;
    width: var(--team-sidebar-width);
    padding: var(--item-padding);
    margin-bottom: var(--sidebar-padding);
    background-color: transparent;
    transition: opacity .1s, background-color .1s;
    outline: 0;
    opacity: .6;

    &:hover, &:active, &:focus {
      background-color: var(--bg-gray-3);
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }

    &__button {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      outline: 0;

      &__caption {
        margin-left: 10px;
        flex: 1;
        text-align: left;
        color: #ddd;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &--add {
      font-size: 2em;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__create-form {
    padding: 12px;
  }

  &__dropdown {
    margin-left: auto;

    &__inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
    }

    &__button {
      margin: 0 20px;
      background-color: transparent;
      color: var(--text-gray-4);
      outline: none;

      &:hover, &:focus, &:active {
        color: var(--white);
      }
    }

    &__content {
      line-height: 2.5em;
      margin-top: 20px;
      left: 12px;
      width: calc(-30px + var(--team-sidebar-width));
      background-color: var(--bg-gray-1);
      display: none;
      position: fixed;
      min-width: 160px;
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: var(--elevation-4);
      z-index: 1;

      &--active {
        display:block;
      }

      &__item {
        display: flex;
        flex-direction: column;

        > button {
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}
