.InviteForm {
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 100;

  &__link {
    width: 100%;
    padding: 0 10px;
    font-size: var(--font-size-2);
    border-radius: var(--border-radius);
    background-color: var(--bg-gray-4);
  }

  &__copy-button {
    flex: 1;
    margin-left: 5px;
    background-color: transparent;

    &:active {
      color: var(--primary-color);
    }
  }
}
