@import '../../style/breakpoints.scss';

.TeamSidebar {
  --item-padding: 12px;
  --bg-color: #111;

  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: var(--team-sidebar-width);
  height: 100%;
  background-color: var(--bg-color);
  transition: width var(--sidebar-animation-duration);

  &--collapsed {
    width: 0;
    overflow: hidden;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    transition: color .2s, background-color .2s;
    border-radius: 2px;

    &:hover {
      color: white;
    }

    &:active, &:focus {
      outline: 0;
      color: white;
      background-color: #222;
    }
  }

  &__title {
    width: var(--team-sidebar-width);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 calc(var(--item-padding) + 3px);
    height: var(--navbar-height);

    &__icon {
      margin-right: .5em;
    }
  }

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    @keyframes item-fade-in {
      0% { opacity: 0; }
      100% { opacity: .5; }
    }

    animation: item-fade-in .5s;
    width: var(--team-sidebar-width);
    padding: var(--item-padding);
    width: 100%;
    margin-bottom: var(--sidebar-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity .1s, background-color .1s;
    outline: 0;
    opacity: .5;

    &:hover, &:active, &:focus {
      background-color: #181818;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }

    &__body {
      margin-left: 10px;
      font-size: .9em;
      flex: 1;
      text-align: left;
      color: #ddd;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--add {
      font-size: 2em;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__create-form {
    padding: 12px;
  }
}
