.InviteForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;

  &__link {
    flex: .8;
    margin: 5px 0 5px 5px;
    width: 100%;
    padding: 0 10px;
    border-radius: 4px;
    color: black;
    text-overflow: ellipsis;
  }

  &__icon {
    flex: .2;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &--active {
      color: var(--accent-color-blue-darker);
    }
  }
}
