.Presentation {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 10000px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all .2s;

    top: 50%;
    left: 50%;
    right: 50%;
    //translateZ fixes render problem in firefox, where the background is sometimes in front of the picture
    transform: translateX(-50%) translateY(-50%) translateZ(1px);
    z-index: var(--presentation-index);
    position: absolute;

    img {
      height: 100%;
    }

    @for $i from 1 through 4 {
      &--left--#{$i}, &--right--#{$i} {
        filter: brightness(calc(60% - 10% * #{$i}));
        z-index: calc(var(--presentation-index) - #{$i});
      }

      &--left--#{$i} {
        left: calc(-30% - (70px * #{$i - 1}));
        transform:
          translateY(-50%)
          rotate3d(0, 1, 0, calc(80deg - (1deg * #{$i - 1})));
      }

      &--right--#{$i} {
        left: calc(50% + (70px * #{$i - 1}));
        transform:
          translateY(-50%)
          rotate3d(0, 1, 0, calc(-80deg - (1deg * #{$i - 1})));
      }
    }
  }
}
