.Gallery {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-gap: var(--grid-gap);
  width: 100%;
  max-width: var(--max-width);

  img {
    object-fit: cover;
    width: var(--img-size);
    height: var(--img-size);
  }

  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
  }

  &__tag {
    border-radius: .4em;
    margin: .5em;
    padding: .5em 1em;
    background: #00aabb;

    &--overflow {
      background: rgba(255, 255, 255, .4);
      color: black;
      font-weight: bold;
    }
  }
}
