@import '../../style/breakpoints.scss';

.ImageDetails {
  &__container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: $sm-to-md) {
      flex-direction: row;
    }
  }

  &__image {
    max-height: 70vh;
    max-width: 100%;
    object-fit: contain;
    object-position: top;
    display: block;

    @media (min-width: $sm-to-md) {
      width: calc(100% - 300px);
    }
  }

  &__info {
    flex: 1;
    max-width: 100%;
    padding: 20px;
    background-color: #181818;

    @media (min-width: $sm-to-md) {
      width: 300px;
    }
  }
}
