.RelatedImages {
  display: flex;
  height: 200px;
  overflow: auto;

  &__item {
    display: block;
    padding: 0;
    border: none;
    position: relative;
    height: 100%;
    color: white;
    border-radius: var(--border-radius);
    overflow: hidden;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        animation-delay: #{($i - 1) * 0.1}s;
      }
    }

    & + & {
      margin-left: 10px;
    }

    &:hover &__overlay {
      opacity: 1;
    }

    &__overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: hsla(0, 0%, 100%, .4);
      transition: opacity .1s;
    }

    &__image {
      height: 100%;
      object-fit: contain;
      object-position: top;
    }

    &__score {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      margin: 10px;
      right: 0;
      top: 0;
      font-size: 16px;
      position: absolute;
      background: hsla(0, 0%, 0%, .7);
      font-weight: bold;
      border-radius: 50%;
    }
  }
}
