{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "jest",
    "flowtype",
    "cypress"
  ],
  "env": {
    "browser": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/default-props-match-prop-types": "off",
    "global-require": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "controlComponents": ["Input"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
          "every": []
      },
      "allowChildren": false
    }]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "prefer-promise-reject-errors": "off"
      }
    }
  ]
}
