language: node_js
node_js:
  - "8"
cache: yarn
stages:
  - test
  - name: build
    if: branch = master
jobs:
  include:
    - stage: test
      name: "Unit Tests"
      script: yarn test --coverage --coverageReporters=text-lcov | coveralls
    - name: "Lint"
      script: yarn lint
    - name: "Flow"
      script:
        - yarn flow-typed install
        - yarn flow
    - stage: build
      name: "Build & Push Docker Image"
      script:
        - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        - docker build -t bp2018hg1/jona:$TRAVIS_BUILD_ID -t bp2018hg1/jona:latest .
        - docker push bp2018hg1/jona:$TRAVIS_BUILD_ID
        - docker push bp2018hg1/jona:latest
