.LandingPageFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  font-size: 14px;  

  &__legal-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li + li {
      margin-left: 18px;
    }
  }

  a {
    color: #aaa;
  }
}