.LandingPage {
  width: 100%;
  height: 100%;
  min-height: 500px;

  &__content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
  }

  &__title{
      color: var(--primary-color);
      font-size: 4em;
      text-align: center;
  }

  &__subtitle {
    height: 4em;
    text-align: center;
    font-size: 1.9em;
    line-height: 2em;
    max-width: 90%;
  }
}

.Particles {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;

  div {
    width: 100%;
    height: 100%;
  }
}

.unselectable {
  user-select: none;
}
