@import '../../../style/breakpoints.scss';

.TaggingForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1.1em;

  &__title {
    font-weight: bold;
    font-size: 1.6em;
    color: rgba(255, 255, 255, .9);
  }

  &__info {
    margin: 20px 0;
    color: rgba(255, 255, 255, .3);
  }

  &__tip {
    color: #555;
    margin-top: auto;
    font-size: .8em;

    &__title {
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 2px;
      color: yellow;
    }
  }

  &__button {
    margin-top: auto;
  }

  @media (min-width: $xs-to-sm) {
    min-width: 340px;
    width: 400px;
  }
}
