:root {
  --tag-height: 40px;
  --tag-border-radius: 5px;
  --tag-padding-horizontal: 13px;
  --tag-font-size: var(--font-size-3);
  --tag-margin: .5em;
  --tag-line-height: 1;
}

.Tag {
  margin-right: var(--tag-margin);
  margin-bottom: var(--tag-margin);
  border-radius: var(--tag-border-radius);

  height: var(--tag-height);
  display: inline-flex;
  background-color: #eee;
  max-width: 100%;
  outline: 0;
  transition: box-shadow .2s;

  &--clickable {
    cursor: pointer;
  }

  &--multi {
    box-shadow: 0 0 3px 2px #fff;
  }

  &--small {
    --tag-height: 20px;
    --tag-font-size: var(--font-size-2);
    --tag-padding-horizontal: 5px;
  }

  &__button {
    display: flex;
    background-color: transparent;
  }

  &__caption {
    align-self: center;
    padding: 0 var(--tag-padding-horizontal);
    font-size: var(--tag-font-size);
    color: white;
    text-overflow: ellipsis;
  }

  &__remove-button {
    height: var(--tag-height);
    width: var(--tag-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    outline: none;

    svg {
      font-size: 25px;
    }
  }
}
