.TeamInitials {
  --dimensions: calc(var(--navbar-height) - 2 * var(--navbar-padding));

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--dimensions);
  height: var(--dimensions);
  background-color: var(--bg-gray-5);
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: border-color .1s;
  outline: none;

  &:hover, &:focus, &:active, &--active {
    border-color: rgba(255, 255, 255, .3);
  }
}
