.MobileTagging {
  --spacing: 20px;
  --input-height: 60px;

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--mobile-tagging-index);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;

  header {
    display: flex;
  }

  &__cancel {
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-left: 1px solid #444;
    padding: 8px var(--spacing);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    svg {
      font-size: 40px;
    }

    span {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__suggestions {
    &-container {
      flex: 1;
      padding: var(--spacing);
      overflow: hidden;
    }

    & {
      height: var(--tag-height);
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
    }

    &__tip {
      color: #666;

      &::before {
        margin: 0 5px;
        content: "·";
      }
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__loading {
    span {
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
    }
  }

  &__failed {
    line-height: 1.5;

    > span {
      margin-bottom: 20px;
    }

    button {
      border-radius: 0;
      box-shadow: none;
      background-color: #333;
      color: white;
      border: none;
    }
  }

  &__image {
    &-container {
      flex: 1;
      position: relative;
      display: flex;
    }

    & {
      opacity: 0.4;
      object-fit: cover;
      width: 100%;
    }
  }

  &__tags {
    max-height: calc(100% - 60px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--spacing);
    bottom: var(--input-height);
    overflow: auto;
  }

  &__input {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    height: var(--input-height);

    &__field {
      flex: 1;
      background-color: rgba(0, 0, 0, .5);
      border-bottom: 3px solid var(--primary-color);
      border-radius: 0;
      color: white;
      padding: 0 20px;
      outline: none;
      min-width: 100px;
      margin: 0;
    }

    &__enter-button {
      display: flex;
      justify-content: center;
      min-width: var(--input-height);
      background-color: var(--bg-gray-2);
      border: none;
      border-radius: 0;
      color: white;
      margin: 0;

      &:active, &:focus, &:hover {
        background-color: var(--bg-gray-3);
      }
    }

    &__save-button {
      display: flex;
      justify-content: center;
      border-radius: 0;
      min-width: var(--input-height);
      margin: 0;
    }
  }
}
