.MobileTaggingImagesPreview {
  --height: 60px;

  height: var(--height);
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, .2);

  &__list {
    display: flex;
    flex: 1;
    overflow-y: hidden;
    overflow-x: auto;
  }

  &__item {
    outline: none;
    background-color: transparent;
    position: relative;
    margin-right: 1px;
    width: var(--height);
    height: var(--height);
    box-shadow: none;
    border: none;

    &__tag-amount {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
    }

    &__overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: var(--height);
      height: var(--height);
    }

    img {
      width: var(--height);
      height: var(--height);
      object-fit: cover;
      opacity: 0.4;
      transition: opacity .2s;
    }

    &.-failed {
      background-color: var(--error-color);
    }

    &.-active {
      img {
        opacity: 1;
      }
    }

    &__retry-button {
      border: none;
      background-color: transparent;
      color: white;
    }
  }

  &__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    min-width: var(--height);
    background-color: rgba(0, 0, 0, .7);
    color: white;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background-color: rgba(0, 0, 0, .9);
    }

    svg {
      font-size: 30px;
    }
  }
}
