@import '../../style/breakpoints.scss';

.TaggingImagePreview {
overflow-x: hidden;

  &__image {
    display: block;
    max-height: 300px;
    max-width: 100%;

    @media (min-width: $xs-to-sm) {
      max-height: 500px;
      max-width: 800px;
    }
  }
}
