@import '../../style/breakpoints';

.UploadActionButton {
  --dimensions: 70px;
  --margin-right: 15px;
  --margin-bottom: calc(var(--footer-height) - 10px);

  position: fixed;
  overflow: hidden;
  right: var(--margin-right);
  bottom: var(--margin-bottom);
  z-index: 200;

  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: var(--elevation-4);
  border-radius: 50%;

  width: var(--dimensions);
  height: var(--dimensions);

  @media (min-width: $xs-to-sm) {
    --margin-right: 30px;
    --margin-bottom: 30px;

    width: auto;
    height: auto;
    border-radius: 100px;
    padding: 20px 25px;
  }

  &__content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    svg {
      font-size: var(--font-size-6);
    }

    span {
      font-weight: 500;
      margin-left: 12px;
      font-size: var(--font-size-5);
      display: none;

      @media (min-width: $xs-to-sm) {
        display: initial;
      }
    }
  }

  &__dropzone {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
  }
}
