@import '../style/breakpoints.scss';

.FileDropzone {
  --bg-color: transparent;
  --hover-bg-color: rgba(255, 255, 255, .03);

  --border-width: 4px;
  --border-color: #fff;
  --hover-border-color: rgb(36, 186, 255);

  --text-color: #fff;
  --hover-text-color: rgb(36, 186, 255);

  --transition-duration: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 100%;
  width: 100%;
  padding: 20px;

  background-color: var(--bg-color);
  border: var(--border-width) dashed var(--border-color);
  border-radius: 10px;

  transition:
    background-color var(--transition-duration),
    border-color var(--transition-duration),
    color var(--transition-duration);

  &:hover {
    --bg-color: var(--hover-bg-color);
    --text-color: var(--hover-text-color);
    --border-color: var(--hover-border-color);
  }

  @media (min-width: $xs-to-sm) {
    width: 750px;
    height: 300px;
  }

  &__text {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--text-color);
  }
}
