@import '../../style/breakpoints.scss';

.Tagging {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, .02);

  @media (min-width: $xs-to-sm) {
    flex-direction: row;
  }
}
