

.TeamSelectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  width: 450px;

  background-color: var(--bg-gray-3);
  font-size: var(--font-size-4);
  text-align: left;

  border-radius: var(--border-radius);
  border: 3px solid transparent;
  transition: border-color .1s;
  outline: none;
  cursor: pointer;

  &:hover, &:focus, &:active, &--active {
    border-color: rgba(255, 255, 255, .3);
  }

  & + & {
    margin-top: 1em;
  }

  &__info {
    flex: 1;
    margin-left: .8em;
  }

  &__title {
    margin-bottom: .1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__members {
    color: var(--text-gray-4);
  }

  &__avatar {
    --dimension: 3em;
    
    width: var(--dimension);
    height: var(--dimension);

    &:hover, &:focus, &:active, &--active {
      border-color: transparent;
    }
  }
}
