.TeamSelect {
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--max-width);

  &__title {
    margin: 2rem;
    font-size: 2em;
    font-weight: 200;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__create {
    margin: 2rem 0;
    font-size: var(--font-size-6);

    &__button {
      padding: .2em;
      display: inline-flex;
      border-radius: .15em;
      opacity: .5;
      background-color: transparent;
      font-size: 2em;
      transition: opacity .2s, background-color .2s;

      &:hover {
        background-color: #181818;
        opacity: 1;
      }
    }
  }
}
