.Modal {
  /*
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    padding: 2em 3em;
    transform: translate(-50%, -50%);
    user-select: none;

    background-color: white;
    color: black;

    border-radius: 4px;
    z-index: 999;
    outline: none;
    border: none;

    button:nth-child(1) {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: white !important;
      color: black !important;
      font-size: 1.2em;
    }

    div {
      width: auto;
      height: auto;
    }
  }
  */

  &__content {
    display: flex;
    outline: none;
  }

  &__overlay {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 998;
  }
}
