@import '../../style/breakpoints.scss';

.Dropdown {
  display: flex;
  margin-left: auto;

  &__inner {
    display: inline-block;
    position: relative;
  }

  &__button {
    height: var(--navbar-height);
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 2em;

    &__icon {
      display: block;
      font-size: var(--font-size-6);
      margin-right: 6px;

      @media (min-width: $sm-to-md) {
        display: none;
      }
    }

    &__username {
      display: none;
      margin-right: 6px;

      @media (min-width: $sm-to-md) {
        display: inline;
      }
    }
  }

  &__button:hover, &__button:focus {
    background-color: inherit;
  }

  &__arrow {
    z-index: var(--dropdown-arraow-index);
    padding: 5px;
    display: block;
    background-color: var(--bg-gray-4);
    left: auto;
    right: 16px;
    top: -5px;
    border-top: 1px solid var(--bg-gray-2);
    border-left: 1px solid var(--bg-gray-2);
    transform: rotate(45deg);
    position: absolute;
  }

  &__container {
    border: 1px solid var(--bg-gray-2);
    margin: -8px -16px 0 0;
    right: 0;
    display: none;
    position: absolute;
    box-shadow: var(--elevation-4);
    border-radius: var(--border-radius);
    background-color: var(--bg-gray-4);
    min-width: 160px;
    z-index: var(--dropdown-container-index);

    &--active {
      display: block;
    }
  }

  &__content {
    overflow: hidden;
    z-index: var(--dropdown-content-index);
    position: relative;
    border-radius: inherit;

    &__button {
      width: 100%;
      background-color: var(--bg-gray-4);
      color: inherit;
      border: none;
      border-radius: 0;
      font-weight: normal;

      & + & {
        border-top: 1px solid var(--bg-gray-2);
      }

      &:hover {
        background-color: var(--bg-gray-3);
      }
    }
  }
}
