@import '../../style/breakpoints.scss';

.NavBar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;

  display: flex;
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);

  @media (min-width: $xs-to-sm) {
    padding: 0 var(--padding-sides);
  }

  &__left, &__right {
    display: flex;
    flex: 1;
  }

  &__search { align-self: center; }
  &__right &__item { margin-left: auto; }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: var(--accent-color-dark-blue);
    }

    &--active {
      background-color: #111;
      color: var(--accent-color-blue);
    }

    &__icon {
      font-size: 1.5em;
    }

    &__text {
      display: none;
      margin-left: .8rem;

      @media (min-width: $xs-to-sm) {
        display: inline;
      }
    }
  }
}
