@import '../../style/breakpoints.scss';

.NavBar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;

  display: flex;
  padding: 0 .5em;
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);

  @media (min-width: $xs-to-sm) {
    transition: left var(--sidebar-animation-duration);
    &--with-sidebar { left: var(--team-sidebar-width); }
  }

  &__left, &__right {
    display: flex;
    flex: 1;
  }

  &__search { align-self: center; }
  &__right &__item { margin-left: auto; }

  &__team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #333;
    font-weight: bold;
    border-radius: 5px;
    align-self: center;
    margin-right: .5em;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: var(--accent-color-dark-blue);
    }

    &--active {
      background-color: #111;
      color: var(--accent-color-blue);
    }

    &__icon {
      font-size: 1.5em;
    }

    &__text {
      display: none;
      margin-left: .8rem;

      @media (min-width: $xs-to-sm) {
        display: inline;
      }
    }
  }
}
