@import '../../style/breakpoints.scss';

:root {
  --navbar-height: 64px;
  --navbar-padding: 10px;
}

.NavBar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: var(--navbar-index);

  display: flex;
  flex-direction: column;
  background-color: var(--navbar-bg-color);

  @media (min-width: $sm-to-md) {
    transition: left var(--sidebar-animation-duration);
    &--with-sidebar { left: var(--team-sidebar-width); }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    padding: var(--navbar-padding);
  }

  &__left, &__right {
    display: flex;
    height: 100%;
  }

  &__left {
    flex: 1;
  }

  &__left &__item {
    padding: 0 30px;
  }

  &__search {
    flex: 1;
  }

  &__right {
    margin-left: auto;
  }

  &__right &__item {
    margin-right: 0;
    margin-left: 30px;
    outline: none;

    &:last-child {
      margin-right: 20px;
    }
  }

  &__team {
    margin-right: 10px;
    align-self: center;
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--white);

    &__presentation-switch {
    display: none;

      @media (min-width: $xs-to-sm) {
        display: flex;
      }
    }

    &:hover {
      .navbar-key {
        color: var(--white-hover)
      }
    }

    &--active {
      color: var(--primary-color);

      &:hover {
        .navbar-key {
          color: var(--primary-color-hover);
        }
      }
    }

    svg:first-child {
      margin-right: 10px;
    }

    span + svg {
      margin-left: 6px;
    }

    &__text {
      display: none;

      @media (min-width: $xs-to-sm) {
        display: flex;
      }
    }

    &__icon {
      display: flex;
      font-size: 1.5em;
    }
  }
}
