@import '../../style/breakpoints.scss';

.NavBar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;

  display: flex;
  flex-direction: column;
  padding: 0 .5em;
  background-color: var(--navbar-background-color);

  @media (min-width: $sm-to-md) {
    transition: left var(--sidebar-animation-duration);
    &--with-sidebar { left: var(--team-sidebar-width); }
  }

  &__inner {
    display: flex;
    height: var(--navbar-height);
  }

  &__left, &__right {
    display: flex;
    flex: 1;
  }

  &__search {
    @media (min-width: $sm-to-md) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__right &__item:first-child { margin-left: auto; margin-right: 0;}
  &__right &__item { margin-left: 0; margin-right: 0;}

  &__team {
    border-radius: 5px;
    margin-right: .5em;
    align-self: center;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: var(--accent-color-dark-blue);
    }

    &--active {
      background-color: #111;
      color: var(--accent-color-blue);
    }

    &__icon {
      font-size: 1.5em;
    }

    &__text {
      display: none;
      margin-left: .8rem;

      @media (min-width: $xs-to-sm) {
        display: inline;
      }
    }
  }
}
