@import '../../style/breakpoints';

.Search {
  position: relative;
  height: 100%;
  font-size: var(--font-size-5);

  &--active {
    position: absolute;
    z-index: var(--search-active-index);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    @media (min-width: $xs-to-sm) {
      position: relative;
    }
  }

  &__input {
    background-color: var(--bg-gray-5);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 44px;
    outline: 0;
    transition: box-shadow .2s;

    @media (min-width: $xs-to-sm) {
      padding-left: 60px;
    }

    @media (max-width: $xs) {
      &::placeholder {
        color: transparent;
      }
    }

    &:focus, &:active {
      background-color: var(--bg-gray-3);

      @media (min-width: $xs-to-sm) {
        background-color: var(--bg-gray-5);
        box-shadow: 0 0 0 3px var(--primary-color);
      }
    }

    &__icon, &__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: var(--search-icon-index);
    }

    &__icon {
      left: 14px;

      @media (min-width: $xs-to-sm) {
        left: 20px;
      }
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      background: transparent;

      @media (min-width: $xs-to-sm) {
        display: none;
      }
    }
  }
}
