@import '../../style/breakpoints';

.Search {
  --unactive-margin-vertical: 10px;

  --active-height-mobile: var(--navbar-height);
  --active-width-mobile: 100%;
  --unactive-height-mobile: calc(var(--navbar-height) - 2 * var(--unactive-margin-vertical));
  --unactive-width-mobile: var(--unactive-height-mobile);

  --width-desktop: 330px;
  --height-desktop: var(--unactive-height-mobile);

  height: var(--unactive-height-mobile);
  width: var(--unactive-width-mobile);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--accent-color-blue);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);

  margin: var(--unactive-margin-vertical) 0;
  font-size: 1.5rem;

  transition: all .2s;

  &--active {
    width: var(--active-width-mobile);
    height: var(--active-height-mobile);
    margin: 0;
  }

  @media (min-width: $xs-to-sm) {
    position: relative;
    width: var(--width-desktop);
    height: var(--height-desktop);
  }

  &__preview, &__input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  &__preview {
    cursor: pointer;

    @media (min-width: $xs-to-sm) {
      width: 330px;
      color: rgba(255, 255, 255, .5);
    }

    &__text {
      display: none;
      margin-left: 10px;
      @media (min-width: $xs-to-sm) { display: inline; }
    }
  }

  &__input {
    height: 100%;
    padding: 20px;
    padding-left: 60px;
    outline: 0;
    position: relative;

    @media (min-width: $xs-to-sm) {
      display: inline;
    }

    &__icon, &__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 60;
    }

    &__icon {
      left: 20px;
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      background: transparent;
    }
  }
}
