@import '../../style/breakpoints';

.Search {
  --margin-vertical: 10px;

  --height-mobile: var(--searchbar-height);
  --width-mobile: 100%;

  --width-desktop: 330px;
  --height-desktop: calc(var(--navbar-height) - 2 * var(--margin-vertical));

  position: relative;
  height: var(--height-mobile);
  width: var(--width-mobile);

  background-color: var(--accent-color-blue);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  border-radius: 4px;

  font-size: 1.5rem;

  transition: all .2s;

  &--active {
    width: var(--width-mobile);
    height: var(--height-mobile);
  }

  @media (min-width: $sm-to-md) {
    position: relative;
    width: var(--width-desktop);
    height: var(--height-desktop);
    margin: var(--margin-vertical) 0;
  }

  &__preview, &__input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  &__preview {
    cursor: pointer;
    width: 100%;
    color: rgba(255, 255, 255, .5);
    outline: none;

    &__text {
      margin-left: 10px;
    }
  }

  &__input {
    height: 100%;
    padding: 20px;
    padding-left: 60px;
    outline: 0;
    position: relative;

    &__icon, &__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 60;
    }

    &__icon {
      left: 20px;
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      background: transparent;
    }
  }
}
