.Search {
  font-size: 1.5rem;
  position: relative;

  &__preview, &__input {
    width: 330px;
    height: 55px;
    //border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-blue);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  }

  &__preview {
    cursor: pointer;
    color: rgba(255, 255, 255, .5);

    &__icon {
      margin-right: 10px;
    }
  }

  &__input {
    padding: 20px;
    padding-left: 60px;
    outline: 0;
    position: relative;

    &__icon {
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      z-index: 60;
      position: absolute;
    }
  }
}
