:root {
  --white: hsl(0, 0%, 100%);
  --white-hover: hsl(0, 0%, 80%);

  --text-gray-1: hsl(0, 0%, 97%);
  --text-gray-2: hsl(0, 0%, 90%);
  --text-gray-3: hsl(0, 0%, 80%);
  --text-gray-4: hsl(0, 0%, 60%);

  --bg-gray-1: hsl(220, 16.2%, 32.7%);
  --bg-gray-2: hsl(230, 9.4%, 27.3%);
  --bg-gray-3: hsl(234, 9.1%, 23.7%);
  --bg-gray-4: hsl(234, 10%, 19.6%);
  --bg-gray-5: hsl(232, 9.8%, 16.1%);
  --bg-gray-6: hsl(220, 7.9%, 14.9%);
  --bg-gray-7: hsl(220, 7.9%, 11.9%);

  --green: rgb(45, 194, 26);
  --green-darker: rgb(42, 153, 28);
  --red: rgb(194, 26, 26);
  --red-darker: #861212;
  --gray: #bbb;
  --gray-darker: #aaa;

  --primary-color: hsl(198.9, 100%, 57.1%);
  --primary-color-hover: hsl(200, 100%, 50%);

  --sidebar-bg-color: var(--bg-gray-4);
  --navbar-bg-color: var(--bg-gray-2);

  --link-color: lightslategray;
  --link-color-hover: #9ca8b4;

  --success-color: var(--green);
  --error-color: var(--red);

  --main-bg-color: var(--bg-gray-6);
  --main-text-color: var(--white);
}


.blue { background-color: #2196f3; }
.orange { background-color: #ff9800; }
.purple { background-color: #9c27b0; }
.red { background-color: #f44336; }
.yellow { background-color: #ffeb3b; }
.green { background-color: #4caf50; }
.pink { background-color: #e91e63; }
.cyan { background-color: #00bcd4; }
.brown { background-color: #795548; }
.indigo { background-color: #3f51b5; }
.deep-purple { background-color: #673ab7; }
