:root {
  --green: rgb(45, 194, 26);
  --green-darker: rgb(42, 153, 28);
  --red: rgb(194, 26, 26);
  --red-darker: #861212;
  --gray: #bbb;
  --gray-darker: #aaa;
  --accent-color-blue: rgb(36, 186, 255);
  --accent-color-dark-blue: #003338;
  --navbar-background-color: rgb(24, 24, 24);

  --link-color: lightslategray;

  --success-color: var(--green);
  --error-color: var(--red);

  --main-bg-color: #222;
  --main-text-color: white;
}
