.form-input {
  width: 100%;
  margin-top: 8px;

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    background-color: var(--main-bg-color);
    border: 2px solid gray;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    margin: 8px 0;
    font-size: 1.5rem;
    font-weight: normal;
    height: 100%;
    padding: 10px;
    outline: 0;
    position: relative;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    box-shadow: 0 0 0px 1000px #444 inset !important;
  }

  input:focus {
    border-color: lightgray;
  }
}
