@import './breakpoints.scss';

:root {
  @media (min-width: $sm-to-md) {
    --grid-size: 3;
  }

  @media (min-width: $xs-to-sm) and (max-width: $sm-to-md) {
    --grid-size: 2;
  }

  --max-width: 1200px;
  --grid-size: 1;
  --grid-gap: 20px;
  --padding-sides: 20px;
}
