@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:200,300,400');

@import 'breakpoints';
@import 'grid';
@import 'colors';
@import 'text';
@import 'animations';
@import 'form';
@import 'shadows';
@import 'library_overrides';

:root {
  --border-radius: 3px;
  --searchbar-height: 60px;
  --footer-height: 60px;
  --team-sidebar-width: 100%;
  --sidebar-animation-duration: .2s;

  @media (min-width: $xs-to-sm) {
    --team-sidebar-width: 280px;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
}

input, button {
  font: inherit;
  color: inherit;
  border: none;
}

button {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.hide-xs {
  display: none;

  @media (min-width: $xs-to-sm) {
    display: initial;
  }
}
