@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'breakpoints';
@import 'grid';
@import 'colors';
@import 'animations';

:root {
  --main-font-size: 18px;
  --navbar-height: 76px;
  --team-sidebar-width: 100%;
  --sidebar-animation-duration: .2s;

  @media (min-width: $xs-to-sm) {
    --team-sidebar-width: 280px;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
}

input, button {
  font: inherit;
  color: inherit;
  border: none;
}

button {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
}
