:root {
  --flash-index: 1000;
  --team-sidebar-index: 990;

  --dropdown-container-index: 500;
  --dropdown-arrow-index: 501;
  --dropdown-content-index: 502;

  --search-active-index: 200;
  --search-icon-index: 60;
  --navbar-index: 100;

  --upload-button-index: 50;
  --search-icon-index: 60;
  --dropzone-overlay-index: 100;
  --presentation-index: 20;
  --mobile-tagging-index: 1000;
  --user-auth-nav-index: 100;
}
