:root {
  --upload-button-index: 200;
  --team-sidebar-index: 999;
  --search-active-index: 999;
  --search-icon-index: 60;
  --navbar-index: 100;
  --dropzone-overlay-index: 100;
  --flash-index: 200;
  --presentation-index: 20;
  --mobile-tagging-index: 1000;
  --user-auth-nav-index: 100;
  --dropdown-container-index: 1;
  --dropdown-content-index: 3;
  --dropdown-arraow-index: 2;
}
