@import '../style/breakpoints.scss';

.App {
  height: 100%;

  &__inner {
    max-width: var(--max-width);
    min-height: 100%;
    display: flex;

    margin: 0 auto;
    padding: 0 var(--padding-sides) 0 var(--padding-sides);
    padding-top: var(--navbar-height);

    @media (min-width: $sm-to-md) {
      padding-top: var(--navbar-height);
      transition: margin-left var(--sidebar-animation-duration);
      &--with-sidebar { margin-left: var(--team-sidebar-width); }
    }
  }
}
