@import '../../style/breakpoints';

.Footer {
  width: 100%;
  border-top: 1px solid var(--bg-gray-4);
  background-color: var(--bg-gray-5);
  opacity: 1;
  transition: opacity .2s;

  &.-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.-hide {
    opacity: 0;
  }

  &__inner {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    font-size: var(--font-size-2);

    @media (min-width: $sm-to-md) {
      flex-direction: row;
      align-items: center;

      height: var(--footer-height);
      padding: 0 20px;
    }
  }

  &__copyright {
    font-weight: 500;
    color: var(--text-gray-1);
    margin-bottom: 6px;

    @media (min-width: $sm-to-md) {
      margin-right: 60px;
      margin-bottom: 0;
    }
  }

  &__legal-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li + li {
      margin-left: 12px;

      @media (min-width: $sm-to-md) {
        margin-left: 30px;
      }
    }
  }

  a {
    color: var(--text-gray-4);
  }

  a:hover, a:active {
    color: var(--text-gray-1);
  }
}
