.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  padding: 0 20px;
  font-size: var(--font-size-2);

  width: 100%;

  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--footer-bg-color);

  &__unauthorized {
    position: static;
  }

  &__legal-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li + li {
      margin-left: 18px;
    }
  }

  a {
    color: #aaa;
  }

  a:hover, a:active {
    color: #fff;
  }

  &__space {
    padding: 0 20px;
    height: var(--footer-height);
  }
}
