.Gallery {
  --item-width: 200px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
  grid-gap: 12px;

  width: 100%;

  &__item {
    border-radius: 3px;
    display: flex;
    position: relative;
    overflow: hidden;

    &::after {
      content: ' ';
      padding-bottom: 100%;
    }

    &:hover > & {
      &__overlay {
        opacity: 1;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      display: flex;
      align-items: flex-start;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 1.2rem;
      padding: .5em;
      opacity: 0;
      background-color: hsla(0, 0, 0, .6);

      transition: opacity .1s;
    }

    &__ellipses {
      display: inline-flex;
      align-items: center;
      font-size: var(--tag-font-size);
      padding: var(--tag-padding);
    }

    &__delete{
      margin-left: auto;
      --button-bg-color: var(--transparent);
      --button-text-color: white;
      --button-border-width: 0;
      --button-hover-bg-color: var(--red);

      &__confirm{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        font-weight: bold;
        border-radius: 5px;
        padding: 6px;
        border: 3px solid #555;
        outline: none;

        &__buttons{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
.Delete {

  &__confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
    border: 3px solid #555;
    outline: none;

    &__buttons {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
