.ChangePasswordForm {
  width: 80%;
  max-width: 540px;

  button {
    background-color: green;
    margin-top: 1.5em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    border-radius: .3rem;
  }
}
