.InviteForm {
  display: flex;

  &__link {
    flex: 1;
    min-width: 10px;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--bg-gray-4);
    outline: none;
  }

  &__copy-button {
    font-size: 1.3em;
    margin-left: 5px;
    background-color: transparent;
    color: var(--text-gray-4);
    outline: none;

    &:hover, &:focus {
      color: var(--white-hover);
    }

    &:active {
      color: var(--white);
    }
  }
}
