:root {
  --button-padding-vertical: 12px;
  --button-padding-horizontal: 15px;
  --button-bg-color: white;
  --button-text-color: #222;
  --button-border-color: #ccc;
  --button-border-width: 1px;
  --button-border-radius: .3rem;

  --button-disabled-text-color: #333;
  --button-disabled-bg-color: #999;
  --button-hover-bg-color: #f8f8f8;
  --button-hover-text-color: var(--white);
}

.Button {
  font: inherit;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;

  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:disabled {
    --button-text-color: var(--button-disabled-text-color);
    --button-bg-color: var(--button-disabled-bg-color);
  }

  &:hover {
    color: var(--button-hover-text-color);
    --button-bg-color: var(--button-hover-bg-color);
  }

  &--save {
    --button-bg-color: var(--green);
    --button-text-color: white;
    --button-border-width: 0;

    &:hover {
      --button-bg-color: var(--green-darker);
    }
  }

  &--close {
    --button-bg-color: var(--gray);
    --button-text-color: #666;
    --button-border-width: 0;

    &:hover {
      --button-bg-color: var(--gray-darker);
    }
  }

  &--delete {
    --button-bg-color: var(--red);
    --button-text-color: white;
    --button-border-width: 0;

    &:hover {
      --button-bg-color: var(--red-darker);
    }
  }

  svg + span {
    margin-left: 10px;
  }
}
