.LoginForm {
  margin: 40px auto;
  width: 80%;
  max-width: 540px;
  padding: 0 5%;

  h1 {
    font-weight: bold;
  }

  a {
    color: lightslategray;
  }

  &__buttons {
    display: flex;
    margin-top: 16px;

    button {
      display: inline-block;
      background-color: green;
      width: 48%;
      font-weight: bold;
      padding: 1em 2em;
      border-radius: .3em;
    }

    .google-login {
      background-color: gray;
      display: inline-block;
      color: white;
      margin-left: 4%;
      width: 48%;
      border-radius: .3em !important;
      text-align: center;

      div {
        padding-left: 15px !important;
      }
    }
  }
}
