.ActivityIndicator {
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @keyframes color-pulse {
    0% { color: var(--main-text-color); }
    50% { color: var(--primary-color); }
    100% { color: var(--main-text-color); }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-color);

  &.-centered {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  &__spinner {
    font-size: 3rem;
    animation:
      spin 2s infinite,
      color-pulse 4s infinite;
  }

  &__text {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    animation: color-pulse 4s infinite;
  }
}
