@import '../../style/breakpoints';

.ListEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 30px;
  line-height: 1.5;

  --icon-font-size: var(--font-size-11);
  --text-font-size: var(--font-size-5);
  --button-font-size: var(--font-size-4);

  svg {
    font-size: var(--icon-font-size);
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  span {
    font-size: var(--text-font-size);
  }

  button, a {
    margin-top: 40px;
    font-size: var(--button-font-size);
  }

  @media (min-width: $xs-to-sm) {
    --icon-font-size: var(--font-size-12);
    --text-font-size: var(--font-size-6);
    --button-font-size: var(--font-size-3);
  }
}
