@import '../../style/breakpoints';

.SocialShareToolbar {

  &__dropdown {
    display: inline-block;
    position: relative;

    &__button {
      svg {
        margin: 2px;
      }
      span {
        @media(max-width: $xs-to-sm) {
          display: none;
        }
      }
    }

    &__content {
      margin-top: 3px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: auto;
      display: none;
      position: absolute;
      background-color: var(--button-bg-color);
      padding: 5px;
      border-radius: 4px;
      z-index: 1;

      &--active {
        display: flex;
        flex-direction: row;
      }

      &__item {
        padding: 5px;
      }

      .SocialMediaShareButton {
        &:active, &:hover, &:focus {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}
