@import '../../style/breakpoints';

.Toolbar {
  display: flex;
  padding: 0;
  margin: 20px auto;

  &__back {
    span {
      display: none;

      @media (min-width: $xs-to-sm) {
        display: block;
      }
    }
  }

  &__left {
    margin-right: auto;
    margin-left: 0;

    > * + * {
      margin-right: 10px;
    }
  }

  &__right {
    margin-left: auto;
    margin-right: 0;

    > * + * {
      margin-left: 10px;
    }
  }
}
