@import '../../style/breakpoints';

.Toolbar {
  display: flex;
  padding: 0;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-self: center;

  &__back {
    span {
      display: none;

      @media (min-width: $xs-to-sm) {
        display: block;
      }
    }
  }

  &__left {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0;

    > * + * {
      margin-right: 10px;
    }
  }

  &__right {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 0;
    margin-left: auto;

    > * + * {
      margin-left: 10px;
    }
  }
}
